:root{
    --dark--100: rgba(14, 14, 14, 100%);
    --dark--80: rgba(14, 14, 14, 80%);
    --dark--60: rgba(14, 14, 14, 60%);
    --dark--50: rgba(14, 14, 14, 50%);
    --dark--40: rgba(14, 14, 14, 40%);
    --dark--20: rgba(14, 14, 14, 20%);
    --dark--10: rgba(14, 14, 14, 10%);
    --dark--5: rgba(14, 14, 14, 5%);

    --dark--light: #242424;

    --grey--100: rgba(75, 75, 75, 100%);
    --grey--80: rgba(75, 75, 75, 80%);
    --grey--60: rgba(75, 75, 75, 60%);
    --grey--50: rgba(75, 75, 75, 50%);
    --grey--40: rgba(75, 75, 75, 40%);
    --grey--30: rgba(75, 75, 75, 30%);
    --grey--20: rgba(75, 75, 75, 20%);
    --grey--10: rgba(75, 75, 75, 10%);
    --grey--5: rgba(75, 75, 75, 5%);


    --white--100: rgba(255, 255, 255, 100%);
    --white--90: rgba(255, 255, 255, 90%);
    --white--80: rgba(255, 255, 255, 80%);
    --white--60: rgba(255, 255, 255, 60%);
    --white--50: rgba(255, 255, 255, 50%);
    --white--40: rgba(255, 255, 255, 40%);
    --white--20: rgba(255, 255, 255, 20%);
    --white--10: rgba(255, 255, 255, 10%);
    --white--5: rgba(255, 255, 255, 5%);

    --cyan--100: rgba(0, 161, 154, 100%);
    --cyan--80: rgba(0, 161, 154, 80%);
    --cyan--60: rgba(0, 161, 154, 60%);
    --cyan--40: rgba(0, 161, 154, 40%);
    --cyan--20: rgba(0, 161, 154, 20%);
    --cyan--10: rgba(0, 161, 154, 5%);

    --yellow--100: rgb(255, 237, 32, 100%) ;

    --text--dark: rgba(68, 68, 68, 100%);
    --text--light--dark: rgba(68, 68, 68, 80%);
    --text--light: rgba(220, 220, 220, 100%);
    --text--gray--light: rgba(200, 200, 200, 100%);
    --text--green--dark: rgb(30, 148, 3);
    --text--red--dark: rgba(90, 0, 0, 100%);

    --button--color: rgba(160, 188, 213);

    --font--title: 80px;
    --font--6: 42px;
    --font--5: 36px;
    --font--4: 32px;
    --font--3: 24px;
    --font--2: 20px;
    --font--1: 16px;
    --font--0: 14px;
}